@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@model CVScreeningWeb.ViewModels.CertificationPlace.CertificationPlaceFormViewModel

@{
    ViewBag.Title = Common.DetailTitle + " " + CertificationPlace.Object; 
    ViewBag.PanelClass = CSSHelper.SINGLE_COLUMN_FORM_CLASS;
}
<div class="form-horizontal">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Name).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Name).Class("form-control").Readonly()
            </div>
        </div>
        @Html.DisplayFor(m => m.AddressViewModel)
        @Html.DisplayFor(m => m.ProfessionalQualification)
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Description).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextAreaFor(m => m.Description).Class("form-control").Readonly().Value(Model.Description)
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="@CSSHelper.BUTTON_CONTROL_CLASS">
                @Html.ActionLink(Common.Ok, "Index", "CertificationPlace", null, new { Class = "btn  btn-default" })
            </div>
        </div>
    </fieldset>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style scoped>
    .k-readonly { color: gray; }
</style>