@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@model CVScreeningWeb.ViewModels.ClientAccount.ClientAccountFormEditViewModel
@{
    ViewBag.Title = Common.SubmitTitle + " " + ClientAccount.Object;
    ViewBag.PanelClass = CSSHelper.SINGLE_COLUMN_FORM_CLASS;
    ViewBag.IsKendoEnabled = true;
}

@Html.ValidationSummary()

@using (Html.BeginForm("Edit", "ClientAccount", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <fieldset>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Email).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Email).Class("form-control").Readonly()
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.FullName).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.FullName).Class("form-control")
                @Html.ValidationMessageFor(m => m.FullName)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Position).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Position).Class("form-control")
                @Html.ValidationMessageFor(m => m.Position)
            </div>
        </div>
        @Html.DisplayFor(m => m.ClientCompany)
        @Html.EditorFor(m => m.AddressViewModel)
        @Html.EditorFor(m => m.HomePhoneNumber)
        @Html.EditorFor(m => m.MobilePhoneNumber)

        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Comment).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextAreaFor(m => m.Comment).Class("form-control")
                @Html.ValidationMessageFor(m => m.Comment)
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class=@CSSHelper.BUTTON_CONTROL_CLASS>
                @Html.Bootstrap().SubmitButton().Text(Common.Submit)
                @Html.ActionLink(Common.Cancel, "Index", "ClientAccount", null, new { Class = "btn  btn-default" })
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style scoped>
    .k-readonly {
        color: gray;
    }
</style>