@using CVScreeningWeb.Helpers
@using Kendo.Mvc.UI
@model CVScreeningWeb.ViewModels.Shared.QualificationPlacesDropDownListViewModel

@{
    @Html.Bootstrap().LabelFor(m => m).Class(CSSHelper.SUBTITLE_CONTROL_CLASS)
    @Html.EditorFor(m => m.NotApplicable)
    @Html.HiddenFor(m => m.AtomicCheckType)    
    @Html.HiddenFor(m => m.TypeOfCheckCodesCompatible)   
    
    if (!String.IsNullOrEmpty(Model.WrongQualification))
    {
        <div class="form-group">
            <div class="col-md-3 control-label">
                <i class="fa fa-warning" style="color: #B11911"></i>
                @Html.Bootstrap().LabelFor(m => m.WrongQualification).Class("control-label")
            </div>
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.WrongQualification).Class("form-control").Readonly()
                @Html.ValidationMessageFor(m => m.WrongQualification)
            </div>
        </div>
            @Html.EditorFor(m => m.HasBeenRequalified);
            foreach (var ids in @Model.WrongQualificationIds)
            {
            @Html.Hidden("WrongQualificationIds", ids.ToString());
            }    
    }
         
    <div id="@(Model.NotApplicable.Id + "_element")">
        @(Model.AlreadyQualified != "" ? Html.DisplayFor(m => m.AlreadyQualified) : Html.EditorFor(m => m.DropDownListKendoUiViewModel))
    </div>
    <hr />
}
