@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@model CVScreeningWeb.ViewModels.Contact.ContactFormViewModel

@{
    ViewBag.Title = Common.SubmitTitle + " " + Contact.Object;
    ViewBag.PanelClass = CSSHelper.SINGLE_COLUMN_FORM_CLASS;
    ViewBag.IsKendoEnabled = true;
}

@Html.ValidationSummary()

@using (Html.BeginForm("CreateForClientCompany",
    "Contact", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ClientCompanyId)
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Name).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Name).Class("form-control")
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Position).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Position).Class("form-control")
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.EmailAddress).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.EmailAddress).Class("form-control")
            </div>
        </div>
        @Html.EditorFor(m => m.MobilePhoneNumber)
        @Html.EditorFor(m => m.WorkPhoneNumber)
        
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Comment).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextAreaFor(m => m.Comment).Class("form-control")
            </div>
        </div>

        <br />
        <br />
        <div class="form-group">
            <div class=@CSSHelper.BUTTON_CONTROL_CLASS>
                @Html.Bootstrap().SubmitButton().Text("Submit")
                @Html.ActionLink(Common.Cancel, "ManageForClientCompany", "Contact",
                new { id = Model.ClientCompanyId}, new { Class = "btn  btn-default" })
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
