@using CVScreeningWeb.Helpers
@model CVScreeningWeb.ViewModels.Account.AccountUpdatePasswordViewModel


@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.OldPassword).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class="col-md-7">
                @Html.Bootstrap().PasswordFor(m => m.OldPassword).Class("form-control")
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.NewPassword).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class="col-md-7">
                @Html.Bootstrap().PasswordFor(m => m.NewPassword).Class("form-control")
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.ConfirmPassword).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class="col-md-7">
                @Html.Bootstrap().PasswordFor(m => m.ConfirmPassword).Class("form-control")
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-8">
                @Html.Bootstrap().SubmitButton().Text("Change password")
                @Html.ActionLink(CVScreeningWeb.Resources.Common.Cancel, "Manage", "Account", null, new {Class = "btn  btn-default"})
            </div>
        </div>

    </fieldset>
}