@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@using Resources
@model CVScreeningWeb.ViewModels.ProfessionalQualification.ProfessionalQualificationFormViewModel

@{
    ViewBag.Title = Common.DetailTitle + " " + ProfessionalQualification.Object;
    ViewBag.PanelClass = CSSHelper.SINGLE_COLUMN_FORM_CLASS;
}

<div class="form-horizontal">

    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Name).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Name).Class("form-control").Readonly()
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Code).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextBoxFor(m => m.Code).Class("form-control").Readonly()
            </div>
        </div>
        <div class="form-group">
            @Html.Bootstrap().LabelFor(m => m.Description).Class(CSSHelper.LABEL_CONTROL_CLASS)
            <div class=@CSSHelper.INPUT_DIV_CLASS>
                @Html.Bootstrap().TextAreaFor(m => m.Description).Class("form-control").Readonly()
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        @Html.DisplayFor(m=>m.Centers)
        <br />
        <br />
        <div class="form-group">
            <div class=@CSSHelper.BUTTON_CONTROL_CLASS>
                @Html.ActionLink(Common.Ok, "Index", "ProfessionalQualification", null, new { Class = "btn  btn-default" })
            </div>
        </div>
    </fieldset>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <style scoped>
        .k-readonly {
            color: gray;
        }
    </style>
